1_ClientCredentials/src/Api/bin/
1_ClientCredentials/src/Api/obj/
1_ClientCredentials/src/Client/bin/
1_ClientCredentials/src/QuickstartIdentityServer/bin/
1_ClientCredentials/src/Client/obj/
1_ClientCredentials/.vs/
1_ClientCredentials/src/QuickstartIdentityServer/obj/
1_ClientCredentials/src/IdentityServer4/bin/
1_ClientCredentials/src/IdentityServer4/obj/
1_ClientCredentials/src/IdentityServer4.AccessTokenValidation/bin/
1_ClientCredentials/src/IdentityServer4.AccessTokenValidation/obj/
